{% extends 'base.html'%}  
{% import 'macros.html' as macro%}
<!-- Styles block -->
<!DOCTYPE html>
<html>
    <head>
      
        
        {% block styles%}
           {{ super() }}
           <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        {% endblock %}

    <body>
     
{% block content %}
<ul>
    <div class="container">
        <p> Pickup lines blogs</p>
        <p>Star Wars Pickup Lines.</p>
        <hr>
        <p> Product blogs</p>
        <p>ProductPlan Blog .</p>
        <hr>
        <p> Interview blogs</p>
        <p>It is Easiest to Start With Text Interviews</p>
        <hr>
        <P> blogs Promotion </P>
        <p>Blog promotion is a must if you want your work to be seen, shared, and and widely consumed.</p>
        <br><br>
        <a href= "/post/new"> New blogs</a>
    </div>   
    {% for blog in all_blogs %}
    
    <h2> {{ blog.post_blog}} </h2>
    {% for comment in blog.comment %}
    <p>Comment:{{comment.comment}}</p>
    
{% endfor %}
<p><a class="btn btn-light btn-xl sr-button" href="{{url_for('main.add_comment',id = blog.id)}}"> Add comment here</a></p> 
{% endfor %}
   

       



{% endblock %}


    </body>
</html>
