<!DOCTYPE html>
<html>
    <head>
        <!-- <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title> -->
         <!-- {% endif %} -->
         {% extends 'base.html'%}  
        {% import 'macros.html' as macro%}
        <!-- Styles block -->
        {% block styles%}
           {{ super() }}
           <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        {% endblock %}
<!-- Content block -->

    </head>
   
    <body>
        <!-- Content block -->
{% block content %}
<ul>
    <div class="container">
        <p> Pickup lines blogs</p>
        <p>If men were landing pages, I’d only want to convert on you.</p>
        <hr>
        <p> Product blogs</p>
        <p>Because it doesn't have to be so ambiguous.</p>
        <hr>
        <p> Interview blogs</p>
        <p>Clarify your job target. ...</p>
        <hr>
        <P> blogs Promotion </P>
        <p>A  relationship with a sales promotion agency normally starts with a pitch.</p>
        <br><br>
        <a href= "{{url_for('main.newblogs')}}"> New blogs</a>
    </div>   

 

{% for blogs in all_blogs %}
    
    <h2> {{ blogs.blogs}} </h2>
    <!-- <p> {{ pitch.user }}</p> -->

{% endfor %}



<!-- {{ macro.displayBlogsList(blogs)}}   -->

       
</ul>


{% endblock%}


    </body>
</html>
