{% macro displayPitchList(Pitches) %}

    {% for pitch in pitches%}
        <!-- <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card"> -->
     <img src="{{ pitch.user.profile }}" alt="{{ movie.title }} poster" class="img-responsive">
<h3>{{pitch.content}}</h3>
<button>Upvote</button>
<button>Downvote</button>
{%eslse %}
<img src="static/photos/no dp.png" alt="">
<p>{{pitch.user.username}}</p>
<h3>{{pitch.content}}</h3>
<button>Upvote</button>
<button>Downvote</button>


{%endif%}
{% endfor %} 
{% endmacro %}
